.containerDisplay {
  display: grid;
  justify-items: center;
  align-content: center;
  margin: 20px;
  width: 90%;
  height: 75px;
  border: 1px solid rgb(100, 100, 100);
}

.inputDisplay {
  background-color: white;
  color: black;
  font-family: 'Quantico', sans-serif;
  margin: 5px;
  width: 90%;
  height: 60px;
  border: 1px solid black;
  font-size: 50px;
  text-align: right;
  padding: 0 5px;
}

